node_modules
*~


#PyCharm settings Files
.idea/*

# Don't ignore these files they are needed
!.idea/dictionaries/*
!.idea/inspectionProfiles/*
!.idea/scopes/*
# !.idea/modules.xml
# !.idea/*.iml


# Ignore Compiled Python Modules
*.pyc
*.pyo

# Django Helpers Storage File
# STATIC_FILES_STORAGE
# STATIC_FILES_REGISTER


# Ignore Virtual Env
env
.env

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes
.venv
